.Projects {
    background-color: rgb(27,27,30);
    height: 131vh;
    .header {
        display: flex;
        padding-left: 12%;
        .greeting-projects {
            align-self: flex-end;
            margin-bottom: 3.7%;
        }
    }
    #h1-project {
        padding-left: 20.5%;
        position: relative;
        top: -4%;
    }
    .carousel-item {
        height: 94vh;
    }
    main {
        .container {
          position: relative;
          .row {
            height: 95vh;
            align-items: center;
            .image-container {
              position: relative;
              .thumbnail {
                overflow: hidden;
                position: relative;
                .frame {
                  img {
                    width: 100%;
                  }
                }
              }
              .information {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;
                text-transform: uppercase;
                .location {
                  span:nth-child(2) {
                    margin-left: 8px;
                  }
                }
              }
            }
          }
        }
      }
}