.App {
    display: grid;
    nav {
        transform: rotate(90deg);
        position: fixed;
        right: -7%;
        top: 48.5%;
        display: flex;
        a {
            text-decoration: none;
            color: white;
            margin: 0 1.2em;
            font-weight: 300;
            font-size: 13px;
        }
    }
}